/bin
/obj
/lib
/samples/ipch
/samples/*.suo
/samples/*.sdf
/samples/*.VC.db
/samples/*.VC.opendb
/samples/*.opensdf
/samples/.vs
*.user

# CMake build artifacts
/build
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
